
.bigDiv {
    height: 40px;
    margin-left: 1rem;
    margin-right:1rem;
    
}
.barContainer {
    display: flex;
    width:  300px;
    height: 30px;
    margin: 20px, 20px, 20px, 20px;
    

}

.picture {
    flex: 1;
    text-align: center;
    margin-right: 10px;

    
    
}

#icon {

    height: 30px;
    width:30px;

}

.bar {
    flex: 12;
    

}

#hungerBar {
    background-color: red;
}
#thirstBar {
    background-color: blue;
}

#attentionBar {
    background-color: green;
}